<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" type="text/css" href="styles.css">

    <title>YouTube Video Downloader</title>

</head>

<body>

    <div class="container">

        <h1>YouTube Video Downloader</h1>

        <form action="/download" method="post">

            <label for="video_url">Enter Video URL:</label>

            <input type="text" id="video_url" name="video_url" required>

            <button type="submit" id="download-btn">Download</button>

        </form>

    </div>

</body>

</html>

